<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='styles/style.css')}}"
    />
    <title>Blackjack</title>
  </head>
  <body>
    <h1>Blackjack</h1>
    <form action="{{ url_for('enter_game') }}" method="post">
      <input
        class="name-input"
        type="text"
        name="name"
        id="name"
        placeholder="Enter Name"
      />
      <button class="red-button" type="submit">Submit</button>
    </form>
  </body>
</html>
